<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Primeira Página HTML Com Thymeleaf</title>
    </head>
    <body>
        <p th:text="${mensagemDaController}"></p>

        <form method="post" th:action="@{/create}" th:object="${pessoa}">
            Nome: <input type="text" name="nome" />
            <br />
            Email: <input type="text" name="email" />
            <br />
            Usuário: <input type="text" name="usuario" />
            <br />
            <button type="submit">Cadastrar candidato</button>
        </form>
    </body>
</html>